<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="arnodenhond.imageshortcut" android:versionCode="3"
	android:versionName="3">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />
	<application android:icon="@drawable/mediashortcut"
		android:label="@string/mediashortcut">
		<activity android:name="arnodenhond.mediashortcut.ImageShortcut"
			android:label="@string/imageshortcut">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
			</intent-filter>
		</activity>
		<activity android:name="arnodenhond.mediashortcut.VideoShortcut"
			android:label="@string/videoshortcut">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
			</intent-filter>
		</activity>
		<activity android:name="arnodenhond.mediashortcut.InfoActivity" android:noHistory="true"
			android:label="@string/mediashortcut" android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		</activity>
	</application>
</manifest> 